*{
    margin: 0;
    padding: 0;
    outline: 0;
}

img{
    vertical-align: middle;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul,ol{
    list-style: none;
}

.container{
    width: 1280px;
    margin: 0 auto;
}