*{
    margin: 0;
    padding: 0;
    outline: 0;
}

img{
    vertical-align: middle;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul,ol{
    list-style: none;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

.header{
    background-color: #FCD4D1;
}

.header_main{
    display: flex;
    padding: 20px 0;
}

.logo{
    width: 30%;
}

.logo a span{
    color: #000;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.menu{
    width: 70%;
}

.menu ul{
    text-align: right;
    padding-top: 12px;
}

.menu ul li{
    display: inline-block;
    padding-left: 26px;
    font-size: 15px;
    font-weight: 600;
    font-family:'Poppins', sans-serif;
}

/* banner part start */

.banner{
    background-color: #FCD4D1;
    
    
}

.banner_inner{
    background: url(img/h1-rev2-img-2.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 400px 0 80px;
}

.banner_inner h3{
    font-size: 18px;
    font-family:'Poppins', sans-serif ;
}

.banner_inner h1{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 69px;
    padding-top: 17px;
    padding-bottom: 40px;
}

.banner_inner a {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 21px 40px;
    background: #1F1F1F;
    color: #fff;
    font-weight: 700;
}

.banner_inner a:hover{
    background: #FAEE31;
    color: #000;
}

.digital{
    display: flex;
    padding: 120px 0;
}

.digital_one{
    width: 33.33%;
}

.digital_one h2{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.digital_one p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-right: 34px;
    color: #333;
    padding-top: 20px;
}

.digital_one a {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #333;
    border-right: 2px solid #000;
    padding-right: 10px;
    margin-top: 30px;
    border-bottom: 2px solid #fff;
}

.digital_one a:hover{
    border-bottom: 2px solid #000;
    border-right: none;
    padding: 0 0 0 2px;
}